{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Generator</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body
    class="bg-gradient-to-br from-[#aa076b] to-[#61045f] min-h-screen flex flex-col items-center gap-6 justify-center p-8"
  >
    <h1
      class="font-bold text-3xl text-white bg-white/10 p-4 rounded-xl backdrop-blur-2xl text-center"
    >
      Enter your prompt below to generate your image
    </h1>

    <div
      class="flex bg-white/70 flex-col p-4 rounded-xl w-full md:w-4/5 lg:flex-row lg:gap-5"
    >
      <!-- Prompt -->
      <form action="" method="post" class="flex flex-col gap-5 w-full lg:w-1/2">
        {% csrf_token %}
        <h1 class="text-[#61045f] font-semibold text-xl">Enter prompt below</h1>
        <textarea
          name="prompt"
          id="prompt"
          cols="30"
          rows="10"
          placeholder="Enter image description here..."
          required
          class="w-full h-full text-xl p-3 rounded-lg resize-none duration-100 ease-in-out focus:outline-none focus:border-2 focus:border-[#61045f8f]"
        ></textarea>
        <button
          type="submit"
          class="bg-[#61045f] text-white font-bold p-3 rounded-lg text-xl ease-in-out duration-1000 hover:scale-[98%] hover:shadow-2xl hover:bg-[#61045fda]"
        >
          Generate Image
        </button>
      </form>

      <!-- Generated Image -->
      <div class="flex flex-col gap-5 mt-10 sm:mt-0 lg:w-1/2">
        <h1 class="text-[#61045f] font-semibold text-xl">
          Your generated image
        </h1>
        {% if image_url %}
        <img
          class="w-full rounded-lg"
          src="{{ image_url }}"
          alt="Generated Image"
        />
        {% else %}
        <img
          class="w-full rounded-lg"
          src="{% static 'images/bg_image.jpg' %}"
          alt="Generated Image"
        />
        {% endif %}
        <!-- Description and Download -->
        <div class="flex flex-col gap-2">
          <p class="text-[#61045f] font-bold">
            Description:
            <span class="font-medium">{{ image_description }}</span>
          </p>
          <a
            href="{{ image_url }}"
            download
            class="bg-[#61045f] text-white flex justify-center gap-3 items-center font-bold p-3 rounded-lg text-xl ease-in-out duration-1000 hover:scale-[98%] hover:shadow-2xl hover:bg-[#61045fda]"
            >Download Image
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
